.dashboard {
  display: flex-column;
  padding: 40px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.cards {
  display: flex;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  flex-wrap: flex-flow;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 20px;
}

.card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  min-height: 400px;
  min-width: 400px;
  text-align: center;
  align-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  color: yellowgreen; /* Ajusta el color del h3 */
  font-size: 2rem; /* Ajusta el tamaño del h3 */
  margin-bottom: 1rem;
}

.card p {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}
