.featureCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  }
  
  .featureCard {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 200px;
  }